// fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

// Font Awesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// Variables
// @import 'variables';

// // Bootstrap
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
// toastr
@import '../../node_modules/toastr/build/toastr.css';
// datatables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";
@import '../../node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css';
//scrollbar admin lte
@import '../../node_modules/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
// admin lte
@import '../../node_modules/admin-lte/build/scss/AdminLTE.scss';
